# Python & System
__pycache__/
.DS_Store
.ipynb_checkpoints/
venv/
.venv/
tox21_env/

# Data & Models (General Ignore)
*.csv
*.sdf
*.xlsx
*.tsv
*.tsv.gz
*.xls
*.bin
*.db
*.sqlite3
*.parquet

# Explicitly exclude the Model and safeMOL folders 
# (This removes the datasets and heavy database files)
dataset/
safeMOL/

# EXCEPTION: Force tracking of your specific shield file
!safeMOL/ultimate_safety_shield.csv